body{
    font-family: fantasy;

}

nav{
    background-color:#FFED4F;
    
}
.nav-link{
    color: black;
}
li{
    font-size: 28px;   
    padding-right: 25px;
}
#btn1{
    background-color: #17F054;
    border-radius : 50px;
    border: none;
    width: 100px;
    height: 50px;
}
#profile{
    font-size: 52px;
} 
#nav1{
    background-color: #FFED4F;
}
.card-title{
    text-align: center;
}
.card{
    font-size: 26px;
    border: none;
}
.nonee{
    list-style: none;
}
