body{
    font-family: fantasy;
    padding: 0%;
    margin: 0%;
}

nav{
    background-color:#FFED4F;
    
}
a{
    color: #F18C16;
    text-decoration-line: none;
}
#btn1{
    background-color: #17F054;
    border-radius : 50px;
    border: none;
    width: 100px;
    height: 50px;
    
}
#btn3{
    color: white;
    background-color: #F18C16;
    border-radius : 20px;
    font-size: clamp(0.50px, 4vw, 60px);
    border: none;
    height: 100%;
    letter-spacing: 0px;
    line-height: 1860%;
    padding: 0px 1rem;
    pointer-events: all;
    position: relative;
    text-decoration-line: none;
    text-transform: uppercase;
    vertical-align: left;
}
.card-img-overlay{
    margin-left: 5px;
}
#bodytextonpic{
    text-align: left;
}

#sp{
    padding-top: 32%;
    margin-left: 70px;
    
}
#btn4{
    color: white;
    background-color: #F18C16;
    border-radius : 12px;
    border: none;
    font-size: 24px;
    width: 250px;
    height: 60px;
}

#btn5{
    color: white;
    background-color: #F18C16;
    border-radius : 12px;
    border: none;
    font-size: 24px;
    width: 250px;
    height: 60px;
 
}
.nav-link{
    color: black;
}
li{
    font-size: 28px;
    list-style: none;
    padding-right: 25px;
}
.backgg{
    /* background-image: url(img/backgg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%; */
    
}
#card1{
    background-color: chocolate;
    color: white;
}
#card2{
    background-color: chocolate;
    color:  white;
}
.card-title{
    text-align: center;
}
