nav{
    background-color:#FFED4F;
}
#btn1{
    background-color: #17F054;
    border-radius : 50px;
    border: none;
    width: 100px;
    height: 50px;
}
#btn2{
    background-color: #FFFFFF;
    border-radius : 50px;
    border: none;
    width: 100px;
    height: 50px;
}
#btn3{
    color: white;
    background-color: #F18C16;
    border-radius : 12px;
    border: none;
    font-size: 24px;
    width: 350px;
    height: 80px;
    margin-top: 140%;
    margin-left: 70px;
}
.nav-link{
    color: black;
}
li{
    font-size: 20px;
    list-style: none;
    padding-right: 25px;
}
.backgg{
    background-image: url(img/backgg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    
}
